.main-layout {
  display: flex;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
  
  transition: margin-left 0.3s ease;
}

.content.collapsed {
  
}

@media (max-width: 768px) {
  .content {
    margin-left: 0;
  }
  .content.collapsed {
    margin-left: 0;
  }
}