.navbar {
  display: flex;
  justify-content: space-between;
  background: #222;
  color: white;
  padding: 10px 20px;
  align-items: center;
  position: relative;
}
.navbar h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* Centers the text */
  margin: 0;
}
.nav-links {
  margin-left: auto; /* Pushes links to the right */
}

.nav-links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  align-items: space-between;
}
