/* Container for the entire form */
.form-container {
   
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-out;
  }
  
  /* Style for the form */
  .tutor-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  /* Style for form input groups */
  .form-group {
    margin-bottom: 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
    font-size: 14px;
    animation: labelFadeIn 1.2s ease-in;
  }
  
  /* General styling for inputs */
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 12px;
    
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    transition: border-color 0.3s, transform 0.2s ease-in-out;
  }
  
  /* Hover effect for inputs */
  .form-group input:focus,
  .form-group textarea:focus {
    border-color: #4CAF50;
    transform: scale(1.02);
  }
  
  /* Profile picture preview */
  .profile-pic-preview {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s;
  }
  
  .profile-pic-preview:hover {
    transform: scale(1.05);
  }
  
  /* Styling for the submit button */
  .form-actions button {
    
    padding: 9px 25px;
    
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
  }
  
  .form-actions button:hover {
  
    transform: scale(1.05);
  }
  
  .form-actions button:focus {
    outline: none;
    border: 2px solid #45a049;
  }
  
  /* Styling for the download button */
  .download-button {
    padding: 10px 20px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    display: block;
    width: 100%;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
  }
  
  .download-button:hover {
    background-color: #0b7dda;
    transform: scale(1.05);
  }
  
  /* Keyframe animations for smooth transitions */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes labelFadeIn {
    0% {
      opacity: 0;
      transform: translateX(-10px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  